*{
    font-family:'Gill Sans';
    background-color:antiquewhite;
}

h1,
h3{
    color:#b92b27 ;
}

#signup{
    background-color: #F52936;
    color: #ffffff;
}

#login{
    background-color: #fff;
    color: #000;
}
